{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/dataTables.bootstrap.css" rel="stylesheet">
  <title>Identificador de generos musicais</title>
{% endblock %}
{% block body %}
  <h2>Identificação de genero musical</h2>
  <blockquote>
    Gosta de uma <b>música</b> mas não consegue identificar seu <b>genero musical</b>?<br>
    Essa página é para você!<br>
    <b>Cole a letra de uma música</b> no campo abaixo e aperte o botão <b>enviar</b>. 
    <form class="form-group" action="{{ url_for('predict') }}" method="post">
      <textarea name="q" id="q" class="form-control" rows="5" value=""></textarea>
      <br>
      <button class="btn btn-primary">Enviar</button>
    </form>
  </blockquote>
{% endblock %}
